@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #1AAC83;
  --error: #E7195A;
}

body {
  background-color: #F1F1F1;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #FFF;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

form {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

input {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  border: 1px solid #DDD;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background-color: var(--primary);
  border: 0;
  color: #FFF;
  padding: 10px;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
}

.task-info {
  display: flex;
  justify-content: center;
  gap: 10em;
}

.tasks-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.flex-center-container {
  display: flex;
  justify-content: center;
}

.task-card {
  display: flex;
  background-color: #FFF;
  border-radius: 4px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 675px;
  box-sizing: border-box;
}

.task-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task-details h4 {
  margin: 0;
  font-size: 1.2rem;
  /* color: var(--primary); */
}

.task-options {
  display: flex;
  align-items: center;
  gap: 1em;
}

.task-status {
  width: 20px;
  margin-right: 1em;
}

.task-status.done {
  background-color: var(--primary);
}

.task-status.pending {
  background-color: var(--error);
}

.loader {
  display: flex;
  justify-content: center;
}